<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js News</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="https://dailynewsapp.herokuapp.com/">News Page</a>
        </div>
        <div class="header__search">

        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Search news" required>
            <input type="submit" value="Search"> 

        </form>
        </div>
    </header>
    
    <div class="wrapper">
        <div class="news">
            <% if(articles != null)  { %>
            <% articles.forEach(function(article, index) {%>
                <a href="<%- article.url %>" class="news__card">
                    <img src="<%- article.urlToImage %>" alt="Image not found" onerror="this.src='/img/news.jpg'" >
                    <h2><%- JSON.stringify(article.title) %></h2>
                    <p><%- article.description %></p>
                </a>   
            <% }) %> 
            <% } else { %> 
                
                No page loaded.
            <% } %> 
        </div>
    </div>  

</body>
</html>

